html {
   height: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   scroll-behavior: smooth;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   font-family:"Dancing Script", "serif", "sans-serif";
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
   padding: 0;
}

.sabin {
 /*   position: fixed;
   z-index: 50;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%; */
   background-color: rgba(233, 182, 202, 0.904);  
}

.continer {
   padding: 5px;
   margin-left: auto;
   margin-right: auto;
}

.header-top-wrapper {
   margin-right: -100px;
   margin-left: -100px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 10px 10px -10px rgb(173, 135, 170);
   margin-bottom: 10px;
}

.sabin__title {
   font-size: 25px;
   font-weight: bold;
   margin: 0;
   color: rgb(134,117,169);
   text-shadow: 0 3px 5px rgb(189, 168, 209);
   letter-spacing: 2px;
   text-transform:capitalize;
   margin-right: 5px;
}

.wrapper {
   display: flex;
   align-items: stretch;
   justify-content: space-between;
}

.sabin__logo {
   display: inline-block;
   width: 60px;
   border-radius: 50%;
}
.sabin__list {
   display: flex;
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.item__link {
   display: inline-block;
   padding:5px 6px;
   font-family: "Dancing Script";
   font-size: 13px;
   text-decoration: none;
   white-space: nowrap;
   border-radius: 5px;
   text-transform:capitalize;
   background-color:rgba(212, 83, 187, 0.822);
   color: rgb(253, 229, 253);
   transition: background-color 0.5s ease , color 0.5s ease 0.3s;
}

/* .item__link:visited{
   background-color:rgba(109, 4, 4, 0.562);
   color: rgb(235, 232, 222);
}  */
.item__link:hover,
.item__link:active{
   background-color:rgba(156, 4, 156, 0.781);
   color: rgb(255, 255, 255);
}
.tel {
   display:flex;
   align-items: center;
   padding: 5px 10px;
   text-decoration: none;
   font-size: 10px;
   white-space: nowrap;
   border-radius: 6px;
   background-color: rgb(164, 119, 190);
   color: rgb(252, 208, 242);
   transition: background-color 0.5s ease , color 0.5s ease 0.3s;
}

.tel:hover,
.tel:active{
   background-color:rgba(156, 4, 156, 0.781);
   color: rgb(253, 253, 253);
}

 .item__list {
   display: none;
} 


.footer {
   background-color: rgb(206, 171, 211);
}

/* .footer__email {

} */

.email-label {
font-size: 13px;
color: #fff;
}

.email-input{
   display: inline-block;
   text-align: left;
   padding: 4px ;
   width: 50%;
   border-radius: 5px;
border: 1px solid transparent;
background-color: rgb(243, 182, 243);
}

.email-input::placeholder{
   font-size: 12px;
   color:#fff;
}

.telegram-link {
   display: flex;
   align-items: center;
}
.telegram-link > h3 {
   color: #fff;
   font-size: 15px;
   letter-spacing: 1.1px;
}
.telegram-links > img {
  display:block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-left: 10px;
}

.mani__list{
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   list-style-type: none;
}
.main__item{
   position: relative;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: calc((100% - 50px) / 2);
   padding: 15px;
   margin-left: 15px;
   margin-bottom: 15px;
   box-shadow: -5px 5px 14px rgba(5, 5, 5, 0.671);
   text-align: left;
   border-radius: 5px;
   overflow: hidden;
   background-color: rgb(174, 128, 211);
}

.main__item::before{
position: absolute;
z-index: 1;
top: 0;
left: 0;
width: 100%;
text-transform: capitalize;
font-size: 18px;
font-family: serif;
font-weight: bold;
transform: rotate(-45deg)translate(-219px, -194px);
text-align: center;
background-color: rgba(63, 206, 7, 0.822);
color: rgb(255, 255, 255);
content: "new tovar";
}

.itemss__img {
   display:block;
   margin-bottom: 4px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 10px;
}

.itemss__odejda {
   margin: 0;
   margin-bottom: 4px;
   font-size: 20px;
   color: rgb(253, 229, 253);
}
.itemss__narh {
   margin: 0;
   margin-bottom: 4px;
   font-family: serif;
   font-size: 20px;
   font-weight: bold;
   text-align: left;
   color: rgb(112, 241, 92);
}
.itemss__razmer {
   margin: 0;
   margin-bottom: 4px;
   font-family: serif;
   font-size: 15px;
   font-weight: bold;
   text-align: left;
   color: rgb(255, 251, 255);
}